*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px;
}

.containerDiv {
    margin: 20px;
    padding: 0;
}

.div1 {
    position: relative;
    top: 0;
    bottom: 0;
    width: 80%;
    right: 50px;
    text-align: center;
    padding: 30px 40px;
    color: white;
}

.tituloIndex {
    margin: 0;
    font-weight: 700;
    color: white;
    letter-spacing: -.04em;
}

.subtituloIndex {
    margin: 0;
    font-weight: 300;
    color: white;
    letter-spacing: -.04em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.textoIndex {
    margin: 0;
    font-weight: 300;
    color: white;
    letter-spacing: -.04em;
    margin-top: 40px;
    line-height: 1.3em;
}

.imagenIndex {
    margin: 10px;
    padding: 0px;
    justify-content: space-between;
    background-color: #fff;
    border: solid black;
}

.cuerpoIndex {
    background-image: url(https://www.visa.com.ar/dam/VCOM/regional/lac/SPA/Uruguay/Pay%20With%20Visa/beneficios-golf/golf-1600x900.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #999;
}

.contenidoFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenidoFooter h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.contenidoFooter h5 {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.redessociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redessociales li{
    margin: 0 10px;
}

.redessociales a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.redessociales a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.redessociales a:hover i{
    color: aqua;
}

@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

.titulo {
    margin-top: 40px;
    margin: 10px;
    font-weight: 700;
    text-align: center;
    color: black;
}

body {
    background-image: linear-gradient(to right, white , silver);
}

.carrousel-mod {
    margin: 20px auto;
    height: auto;
    width: 1000px;
    border: solid black;
}

.imagenGaleria {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
}
     
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabla {
    position: relative;
}

.subtitulo {
    position: relative;
    display: flex;
    justify-content: center;
}
